body {
  background-color: #0f0f0f;
  color: #fff;
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
  padding: 30px;
}

.container {
  max-width: 350px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-frame {
  border: 5px solid #ff0066;
  border-radius: 50%;
  padding: 6px;
  background: linear-gradient(45deg, #ff0066, #ffcc00);
  margin-bottom: 20px;
}

.profile-img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.social-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  width: 100%;
}

.social-buttons a {
  padding: 12px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px;
  transition: background 0.3s;
}

.social-buttons a.tiktok:hover { background-color: #010101;
  transition: all 0.5s;
}

.social-buttons a.instagram { background-color: #C13584; 
  transition: all 0.5s;
}
.social-buttons a.github { background-color: #333; 
  transition: all 0.5s;
}
.social-buttons a.youtube { background-color: #FF0000; 
  transition: all 0.5s;
}

.social-buttons a:hover {
  opacity: 0.85;
}


